In [141]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [142]:
df=pd.read_csv("E:\Data sets\car_data.csv")

In [143]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [144]:
df.shape

(301, 9)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [146]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [147]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [148]:
X= df.drop(["Car_Name","Selling_Price"], axis=1)

In [149]:
X.head()

   Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014           5.59       27000    Petrol      Dealer       Manual      0
1  2013           9.54       43000    Diesel      Dealer       Manual      0
2  2017           9.85        6900    Petrol      Dealer       Manual      0
3  2011           4.15        5200    Petrol      Dealer       Manual      0
4  2014           6.87       42450    Diesel      Dealer       Manual      0

In [150]:
y= df.Selling_Price

In [151]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [152]:
X['Year']=2023- X['Year']

In [153]:
X.head()

   Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9           5.59       27000    Petrol      Dealer       Manual      0
1    10           9.54       43000    Diesel      Dealer       Manual      0
2     6           9.85        6900    Petrol      Dealer       Manual      0
3    12           4.15        5200    Petrol      Dealer       Manual      0
4     9           6.87       42450    Diesel      Dealer       Manual      0

In [154]:
X.drop('Present_Price',axis=1,inplace=True)
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9       27000    Petrol      Dealer       Manual      0
1    10       43000    Diesel      Dealer       Manual      0
2     6        6900    Petrol      Dealer       Manual      0
3    12        5200    Petrol      Dealer       Manual      0
4     9       42450    Diesel      Dealer       Manual      0

In [155]:
X["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [156]:
X["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [157]:
X=pd.get_dummies(data=X, columns=["Fuel_Type","Seller_Type","Transmission"],drop_first=True)

In [158]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1
3,12,5200,0,0,1,0,1
4,9,42450,0,1,0,0,1

In [159]:
X.shape

(301, 7)

In [160]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    301 non-null    int64
 1   Kms_Driven              301 non-null    int64
 2   Owner                   301 non-null    int64
 3   Fuel_Type_Diesel        301 non-null    uint8
 4   Fuel_Type_Petrol        301 non-null    uint8
 5   Seller_Type_Individual  301 non-null    uint8
 6   Transmission_Manual     301 non-null    uint8
dtypes: int64(3), uint8(4)
memory usage: 8.4 KB

In [161]:
from sklearn.preprocessing import MinMaxScaler

In [162]:
 scaler= MinMaxScaler()

In [163]:
X["Year"]= scaler.fit_transform(X[['Year']])

In [164]:
X["Kms_Driven"]= scaler.fit_transform(X[["Kms_Driven"]])

In [165]:
X["Owner"]= scaler.fit_transform(X[["Owner"]])

In [166]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.053053,0.0,0,1,0,1
1,0.333333,0.085085,0.0,1,0,0,1
2,0.066667,0.012813,0.0,0,1,0,1
3,0.466667,0.009409,0.0,0,1,0,1
4,0.266667,0.083984,0.0,1,0,0,1

In [167]:
from sklearn.model_selection import train_test_split

In [168]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [169]:
X_train.shape

(240, 7)

In [170]:
X_test.shape

(61, 7)

In [171]:
y_train.shape

(240,)

In [172]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [173]:
from sklearn.linear_model import LinearRegression

In [177]:
model= LinearRegression()

In [178]:
model.fit(X_train, y_train)

LinearRegression()

In [179]:
model.score(X_test,y_test)

0.5902852717348186

In [180]:
predict=model.predict(X_test)

In [182]:
predict[:5]

array([ 5.97794492,  5.3246979 ,  9.15930812, -0.43919744,  4.3655473 ])

In [183]:
y_test[:5]

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
Name: Selling_Price, dtype: float64